/* Общие стили для модального окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Фиксированное позиционирование */
    z-index: 1000; /* Обеспечивает отображение поверх других элементов */
    left: 0;
    top: 0;
    width: 100%; /* Ширина на весь экран */
    height: 100%; /* Высота на весь экран */
    background-color: rgba(0, 0, 0, 0); /* Темный полупрозрачный фон */
}

/* Контент модального окна */
.modal-content {
    position: absolute; /* Абсолютное позиционирование для модального контента */
    left: 130px;
    background-color: white; /* Белый фон для контента */
    padding: 20px; /* Отступы */
    border-radius: 5px; /* Скругленные углы */
}

/* Кнопка закрытия */
.close {
    cursor: pointer; /* Курсор для кнопки закрытия */
    float: right; /* Правое выравнивание */
    left: 100px;
}
