.modal {
    background-color: black;
    height: 300px; 
    width: 400px; 
    position: relative;
    margin-left: 150px;
    z-index: 100;
    
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}


.modal-content{
    width: 250px;
    min-height: 100px;  /* Set a minimum height to make sure the content has space */
    font-size: 20px; /* Исходный размер текста */
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    color: #3498db;
}