
.image-button{
    z-index: 10;
    pointer-events: auto; 
    
    transform: scale(0.9); 
}
.textblyat{
    position: fixed; /* фиксируем контейнер относительно всего документа */
    font-size: 40px;
    right: 0;
    left: 0; /* контейнер занимает весь экран */
    margin-bottom: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container {
    position: fixed; /* фиксируем контейнер относительно всего документа */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; /* контейнер занимает весь экран */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* затемнение фона */
    z-index: 1000; /* контейнер будет выше всех других элементов */
}
.image-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.button-grid {
  
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
img {
    display: block; /* Убираем отступы вокруг изображения */
}
.image-button {
    width: 100px;
    height: 100px;
    font-size: 24px;
    background-color: none;
    transition: background-color 0.3s;
    position: relative;
}
.image-button:hover::before {
    border: none; /* Убираем черную границу при наведении */
}
.image-button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Полупрозрачный фон при наведении */
    border: 5px solid blue;
}
.image-button.active::before {
    border: none;
}
.image-button.active {
    transform: scale(1); 
    border: 5px solid blue;
}
.image-button::before {
    content: '';
    position: absolute;
    pointer-events: none; /* Чтобы клики проходили сквозь границу */
}
.go-button {
    position: fixed;
    font-weight: 500;
    font-size: 30px;
    font-style: unset;
    background-color: #4CAF50; /* Зеленый фон */
    border: none; 
    left: 50%; /* Устанавливаем левую границу на 50% */
    top:80%;
    transform: translate(-50%, -50%); /* Сдвигаем кнопку на половину её ширины и высоты */
    display: flex;
    align-items: center; /* Центрирование текста по вертикали */
    justify-content: center; /* Центрирование текста по горизонтали */
    color: white; /* Белый текст */
    text-decoration: none; /* Без подчеркивания */
    cursor: pointer; /* Указатель при наведении */
    border-radius: 8px; /* Закругленные углы */
    padding: 15px 30px; /* Отступы для кнопки */
    transition: background-color 0.3s, transform 0.3s; /* Плавный переход */
}

.go-button:hover {
    background-color: #45a049; /* Цвет при наведении */
    transform: translate(-50%, -50%) scale(1.15); /* Увеличение при наведении */
}