.map{
  height: 100vh;
  width: 100vw;
  background-color: #333;
  
}
[class*="copyrights-pane"]{
  display: none !important;
}
.ZButton{
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px; 
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  color: #3498db;
  transition: font-size 0.3s; 
  position: relative;
  margin-bottom: 1px;
  z-index: 200;
  margin-left: 25px;
  width: 250px; 
  height: 50px; 
  overflow: hidden; 
}
.ZButtonCheck{
  border: 1px solid #3498db;
  background: springgreen;
  padding: 10px 20px;
  font-size: 20px; 
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  color: blue;
  transition: font-size 0.3s; 
  position: relative;
  margin-bottom: 1px;
  z-index: 200;
  margin-left: 25px;
  width: 250px; 
  height: 50px; 
  overflow: hidden; 
}
.ZButton_text{
  position: relative;
  z-index: 200;
}

.ZButton:hover{
  color: black;
  font-size: 24px;
}
.ZButton::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: red;
  z-index: 1;
  border-radius: 0 0 0% 0%;

  transition: 0.8s;
  top:0;

}
.ZButton:hover::before{
  height: 100%;
}
.rating-box{
  position: relative;
}
.star-box{
  cursor: pointer;
}
.star-box i{
  font-size: 18px;
}
.star-box .checked{
  color: orange;
}
.balloon_info{
  text-align: center;
}
.balloon_num{
  text-align: center;
}
.difficult{
  text-align: center;
}
.map{
  overflow-x: hidden;      
  overflow-y: hidden;  
}