
.modal {
    display: flex; 
    position: fixed; 
    z-index: 401; 
    left:20px;
    top: 0;
    margin-left: 120px;
    width: 350px;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0); 
    box-sizing: border-box; 
}
.modal-content {
    max-width: 300px;
    position: relative; 
    left:75px;
    background-color: white;
    padding: 20px; 
    border-radius: 15px; 
    overflow: visible;
    align-items: center;

}
.leaflet-control-attribution {
    display: none;
}
.journal_form {
    width: 250px;
    height: 300px;
    padding: 25px;
    border-radius: 28px;
    text-align: center;
    background-color: #FFD700; /* Золотистый цвет */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Тень для формы */
    overflow: hidden; /* Убираем прокрутку */
    transition: transform 0.3s; /* Плавный переход при наведении */
}



.journal_element {
    width: 200px; 
    background-color: white; /* Зеленый цвет */
    color: blue; /* Цвет текста */
    text-align: center; 
    padding: 10px; 
    box-sizing: border-box; 
    word-break: normal; 
    border-radius: 10px; 
}



.entry_container {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; 
}

.avatar_journal {
    width: 50px; 
    height: 50px; 
    margin-right: 10px;
    border-radius: 50%; /* Круглая аватарка */
    border: 2px solid white; /* Белая граница вокруг аватарки */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для аватарки */
}
.avatar{
    position: relative; 
    bottom:90px;
    width: 70px;
    height: 70px;
    left: 100px;
    border-radius: 50%;
    margin-left:200px;
    background-image: url('avatars/BEGEMOT85.jpg');
    background-size: cover;
    background-position: center;
    cursor: pointer;    
}
.avatarpick{
    position: relative; 
    bottom:90px;
    width: 70px;
    height: 70px;
    left: 10px;
    border-radius: 50%;
    margin-top: 105px;
    background-image: url('avatars/BEGEMOT85.jpg');
    background-size: cover;
    background-position: center;
    cursor: pointer;    
    margin-left: auto;
    margin-right: auto;
}
.spin{
    display: flex;       
    position: relative;   
    justify-content: flex-start;
    align-items: center;    
    width: 400px;
    height: 100px;
    gap: 10px;       
    left: 80px;
    border-radius: 28px;
    background-color: green; 
    overflow-x: auto;        
    overflow-y: hidden;    
    white-space: nowrap;       
}
.note{
    position: relative;
    bottom: 20px;
}
.entry_container_ach {
    position: relative;
    margin-top: 30px;
    background-color: #007BFF; /* Яркий синий цвет */
    height: 110px;
    overflow: hidden; 
    display: flex; 
    align-items: center; 
    padding: 10px; 
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень для контейнера */
    transition: transform 0.3s; /* Плавный переход при наведении */
}

.entry_container_ach:hover {
    transform: translateY(-2px); /* Легкий подъем при наведении */
}

.entry_container_ach_unactive {
    position: relative;
    margin-top: 30px;
    background-color: rgba(128, 128, 128, 0.8); /* Полупрозрачный серый цвет */
    height: 110px;
    overflow: hidden; 
    display: flex; 
    align-items: center; 
    padding: 10px; 
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень для контейнера */
}

.ach_title_element {
    width: 150px; 
    font-size: 20px;
    position: absolute;
    background-color: #28A745; /* Зеленый цвет */
    color: white; /* Цвет текста */
    box-sizing: border-box; 
    word-break: normal; 
    text-align: center; 
    top: -15px;
    left: 168px; /* Центрирование */
    transform: translateX(-50%); /* Центрирование */
    padding: 5px; /* Отступы */
    border-radius: 5px; /* Закругленные углы */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для заголовка */
}

.ach_text_element {
    position: absolute;
    width: 150px; 
    top: 50px;
    left: 168px; /* Центрирование */
    transform: translateX(-50%); /* Центрирование */
    background-color: #8B4513; /* Коричневый цвет */
    color: white; /* Цвет текста */
    text-align: center; 
    box-sizing: border-box; 
    padding: 5px; /* Отступы */
    border-radius: 5px; /* Закругленные углы */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для текста */
}

.ach_image {
    width: 75px; 
    height: 75px; 
    margin-right: 10px;
    border-radius: 50%; /* Круглая аватарка */
    border: 2px solid white; /* Белая граница вокруг аватарки */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для аватарки */
}

.ach_form_scroll {
    width: 250px;
    height: 300px;
    padding: 25px;
    border-radius: 28px;
    background-color: #FFD700; /* Золотистый цвет */
    overflow: hidden;      
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Тень для формы */
    transition: transform 0.3s; /* Плавный переход при наведении */
}

.cool_btn {
    background-color: aqua; /* Основной цвет фона */
    color: white; /* Цвет текста */
    border: none; /* Убираем стандартные границы */
    border-radius: 5px; /* Закругленные углы */
    padding: 10px 20px; /* Отступы внутри кнопки */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s, transform 0.2s; /* Плавные переходы */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень для кнопки */
    margin-top: 30px;
}

.cool_btn:hover {
    background-color: #45a049; /* Цвет фона при наведении */
    transform: translateY(-2px); /* Легкий подъем кнопки */
}

.cool_btn:active {
    transform: translateY(1px); /* Эффект нажатия */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Уменьшение тени при нажатии */
}

.cool_btn:focus {
    outline: none; /* Убираем обводку при фокусе */
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5); /* Обводка при фокусе */
}

.telega {
    display: none;
    position: fixed; /* Окно фиксировано относительно окна браузера */
    z-index: 1000; /* На переднем плане */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включает прокрутку, если необходимо */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.telega-content {
    background-color: #fefefe;
    margin:  auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ширина окна */
    
    max-width: 300px; /* Максимальная ширина */
    border-radius: 15px; /* Закругленные углы */
}

.close-telega-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-telega-button:hover,
.close-telega-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.go_to_telega{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex; 
    left: 33%;
    background-image: url('tg.jpg');
    background-size: cover;
    background-position: center;
    cursor: pointer;    
}